{;; SECRETS
 :secrets #include "secrets.edn"


 ;; COMPONENTS
 :service {:join?    false
           :hostname "0.0.0.0"
           :port     8080}

 :nrepl {:port 7000}

 :logging {:config {:level     :info
                    :console   true
                    :appenders [{:appender          :rolling-file
                                 :rolling-policy    {:type      :fixed-window
                                                     :max-index 5}
                                 :triggering-policy {:type     :size-based
                                                     :max-size 5120}
                                 :pattern           "%p [%d] %t - %c %m%n"
                                 :file              "logs/beatthemarket.log"}]
                    :overrides {"org.apache.http"      :info
                                "org.apache.http.wire" :error}}}

 ;; MAIN
 :integrant #profile
 {:production {:service/service     {:join?    false
                                     :hostname "0.0.0.0"
                                     :port     5000}
               :server/server       {:service #ig/ref :service/service}
               :firebase/firebase   #ref [:secrets :firebase]
               :persistence/datomic #ref [:secrets :production :persistence/datomic]
               :nrepl/nrepl         #ref [:nrepl]
               :logging/logging     #ref [:logging]}

  :development {:service/service     #ref [:service]
                :server/server       {:service #ig/ref :service/service}
                :firebase/firebase   #ref [:secrets :firebase]
                :persistence/datomic {:db-name "beaththemarket"
                                      :config  {}}
                :nrepl/nrepl         #ref [:nrepl]
                :logging/logging     #ref [:logging]}

  :test {:service/service     #ref [:service]
         :server/server       {:service #ig/ref :service/service}
         :firebase/firebase   #ref [:secrets :firebase]
         :persistence/datomic {:db-name "beaththemarket"
                               :config  {}}
         :nrepl/nrepl         #ref [:nrepl]
         :logging/logging     #ref [:logging]}}}
