{;; SECRETS
 :secrets #include "secrets.edn"


 ;; COMPONENTS
 :game {:starting-balance      100000.00
        :tick-sleep-ms         1000
        :level-timer-sec       300 ;; (* 5 60)
        :latest-tick-threshold 5
        :stream-buffer-size    2
        :stagger-wavelength?   true
        :data-generators [:datasource.sine/generate-sine-sequence
                          :datasource.sine/generate-cosine-sequence
                          :datasource.oscillating/generate-oscillating-sequence]

        :levels                {:game-level/one {:profit-threshold 1000.0
                                                 :lose-threshold 1000.0
                                                 :tick-sleep-ms 1000
                                                 :order 1

                                                 ;; TODO stock behaviours for this level
                                                 :beta-distributions 1}
                                :game-level/two {:profit-threshold 5000.0
                                                 :lose-threshold 2000.0
                                                 :tick-sleep-ms 900
                                                 :order 2}
                                :game-level/three {:profit-threshold 8000.0
                                                   :lose-threshold 2000.0
                                                   :tick-sleep-ms 800
                                                   :order 3}
                                :game-level/four {:profit-threshold 12000.0
                                                  :lose-threshold 5000.0
                                                  :tick-sleep-ms 750
                                                  :order 4}
                                :game-level/five {:profit-threshold 20000.0
                                                  :lose-threshold 5000.0
                                                  :tick-sleep-ms 700
                                                  :order 5}


                                :game-level/six {:profit-threshold 60000.0
                                                 :lose-threshold 5000.0
                                                 :tick-sleep-ms 675
                                                 :order 6}
                                :game-level/seven {:profit-threshold 100000.0
                                                   :lose-threshold 10000.0
                                                   :tick-sleep-ms 650
                                                   :order 7}
                                :game-level/eight {:profit-threshold 250000.0
                                                   :lose-threshold 10000.0
                                                   :tick-sleep-ms 625
                                                   :order 8}
                                :game-level/nine {:profit-threshold 500000.0
                                                  :lose-threshold 10000.0
                                                  :tick-sleep-ms 600
                                                  :order 9}
                                :game-level/ten {:profit-threshold 1000000.0
                                                 :lose-threshold 100000.0
                                                 :tick-sleep-ms 500
                                                 :order 10}


                                :game-level/bluesky {:profit-threshold ##Inf
                                                     :lose-threshold 100000.0
                                                     :tick-sleep-ms 500
                                                     :order 11}}}

 :logging {:config {;; :level     :info
                    :level     :debug
                    :console   true
                    :appenders [{:appender          :rolling-file
                                 :rolling-policy    {:type      :fixed-window
                                                     :max-index 5}
                                 :triggering-policy {:type     :size-based
                                                     :max-size 5120}
                                 :pattern           "%p [%d] %t - %c %m%n"
                                 :file              "logs/beatthemarket.log"}]
                    :overrides {"org.apache.http"     :info
                                "org.apache.http.wire" :error
                                "org.eclipse.jetty.server.handler.ContextHandler" :error
                                "org.eclipse.jetty.server.AbstractConnector" :error
                                "org.eclipse.jetty.server.Server" :error
                                "org.eclipse.jetty.util.log" :error
                                "o.e.j.server.handler.ContextHandler" :error
                                "o.e.jetty.server.AbstractConnector" :error
                                "org.eclipse.jetty" :error
                                ;; org.apache.http.conn.ssl.SSLConnectionSocketFactory
                                ;; org.apache.http.impl
                                ;; org.apache.http.headers
                                "io.pedestal.http" :warn
                                "io.pedestal.http.cors" :warn
                                "beatthemarket.handler.authentication" :error}}}


 ;; MAIN
 :integrant #profile
 {:dev-local {:persistence/datomic {:datomic         #ref [:secrets :dev-local :persistence/datomic]}}

  :production {:service/service               {:join?         false
                                               :hostname      "0.0.0.0"
                                               :port          5000
                                               :keep-alive-ms 10000}
               :server/server                 {:service #ig/ref :service/service}
               :firebase/firebase             #ref [:secrets :firebase]
               :persistence/datomic           {:datomic         #ref [:secrets :production :persistence/datomic]}

               :payment.provider/apple                {:service #ref [:secrets :production :payment.provider/apple]
                                                       :subscriptions {:margin_trading_1month "margin_trading_1month.1"}
                                                       :products {:additional_100k "additional_100k"
                                                                  :additional_200k "additional_200k"
                                                                  :additional_300k "additional_300k"
                                                                  :additional_400k "additional_400k"
                                                                  :additional_5_minutes "additional_5_minutes"}}
               :payment.provider/google               {:service #ref [:secrets :production :payment.provider/google]
                                                       :subscriptions {:margin_trading_1month "margin_trading_1month"}
                                                       :products {:additional_100k "additional_100k"
                                                                  :additional_200k "additional_200k"
                                                                  :additional_300k "additional_300k"
                                                                  :additional_400k "additional_400k"
                                                                  :additional_5_minutes "additional_5_minutes"}}
               :payment.provider/stripe        {:service #ref [:secrets :production :payment.provider/stripe]
                                                :subscriptions {:margin_trading_1month "prod_I6fV3V7OI45BpD"}
                                                :products {:additional_100k "prod_I6fV7ddm8eNEnf"
                                                           :additional_200k "prod_I6fVNypoTG2LQj"
                                                           :additional_300k "prod_I6fVgO12G6uZnm"
                                                           :additional_400k "prod_I6fVmyGuO2MDMC"
                                                           :additional_5_minutes "prod_I6fVQ8litwGcN0"}}
               :payments/feature-registry {:apple #ref [:payment.provider/apple]
                                           :google #ref [:payment.provider/google]
                                           :stripe #ref [:payment.provider/stripe]}
               :game/games                    {:datomic #ig/ref :persistence/datomic }
               :game/game                     #ref[:game]
               :nrepl/nrepl                   {:port 7000}
               :logging/logging               #ref [:logging]
               :name-generator/name-generator {}}

  :development {:service/service               {:join?         false
                                                :hostname      "0.0.0.0"
                                                :port          5000
                                                :keep-alive-ms 10000}
                :server/server                 {:service #ig/ref :service/service}
                :firebase/firebase             #ref [:secrets :firebase]
                :persistence/datomic           {:datomic

                                                #_{:db-name "beatthemarket-production"
                                                 :config  {:server-type :dev-local
                                                           :system "production-imports"
                                                           ;; :storage-dir "/tmp/foo"
                                                           :storage-dir "/tmp/data/datomic/dev-local"
                                                           }}

                                                {:db-name "beaththemarket-20201004"
                                                 :config
                                                 {:server-type   :cloud
                                                  :region        "us-east-1"
                                                  :system        "beatthemarket-datomic4"
                                                  ;; :endpoint      "https://localhost:8182"
                                                  :endpoint   "http://entry.beatthemarket-datomic4.us-east-1.datomic.net:8182"
                                                  :proxy-port 8182}}}

                :payment.provider/apple                {:service #ref [:secrets :development :payment.provider/apple]
                                                        :subscriptions {:margin_trading_1month "margin_trading_1month.1"}
                                                        :products {:additional_balance_100k "additional_balance_100k"
                                                                   :additional_100k "additional_100k"
                                                                   :additional_200k "additional_200k"
                                                                   :additional_300k "additional_300k"
                                                                   :additional_400k "additional_400k"
                                                                   :additional_5_minutes "additional_5_minutes"}}
                :payment.provider/google               {:service #ref [:secrets :development :payment.provider/google]
                                                        :subscriptions {:margin_trading_1month "margin_trading_1month"}
                                                        :products {:additional_100k "additional_100k"
                                                                   :additional_200k "additional_200k"
                                                                   :additional_300k "additional_300k"
                                                                   :additional_400k "additional_400k"
                                                                   :additional_5_minutes "additional_5_minutes"}}
                :payment.provider/stripe        {:service #ref [:secrets :development :payment.provider/stripe]
                                                 :subscriptions {:margin_trading_1month "prod_I1RAoB8UK5GDab"}
                                                 :products {:additional_100k "prod_I1RCtpy369Bu4g"
                                                            :additional_200k "prod_I1RC5THYQrZdYO"
                                                            :additional_300k "prod_I1RDVzSR4oZKJ3"
                                                            :additional_400k "prod_I1RDqXXxLnMXdb"
                                                            :additional_5_minutes "prod_I1REIJ0bKeXG37"}}
                :payments/feature-registry {:apple #ref [:payment.provider/apple]
                                            :google #ref [:payment.provider/google]
                                            :stripe #ref [:payment.provider/stripe]}
                :game/games                    {:datomic #ig/ref :persistence/datomic}
                :game/game                     #ref[:game]
                :nrepl/nrepl                   {:port 7000}
                :logging/logging               #ref [:logging]
                :name-generator/name-generator {}}

  :test {:service/service               {:join?         false
                                         :hostname      "0.0.0.0"
                                         :port          8081
                                         :keep-alive-ms 10000}
         :server/server                 {:service #ig/ref :service/service}
         :firebase/firebase             #ref [:secrets :firebase]
         :persistence/datomic           {:datomic         {:db-name "beatthemarket"
                                                           :config  {:server-type :dev-local
                                                                     :system "dev"
                                                                     :storage-dir "/tmp/data/datomic-test/dev-local" ;; "/tmp/data"
                                                                     }}}
         :payment.provider/apple                {:service #ref [:secrets :test :payment.provider/apple]
                                                 :subscriptions {:margin_trading_1month "margin_trading_1month.1"}
                                                 :products {:additional_balance_100k "additional_balance_100k"
                                                            :additional_100k "additional_100k"
                                                            :additional_200k "additional_200k"
                                                            :additional_300k "additional_300k"
                                                            :additional_400k "additional_400k"
                                                            :additional_5_minutes "additional_5_minutes"}}
         :payment.provider/google               {:service #ref [:secrets :test :payment.provider/google]
                                                 :subscriptions {:margin_trading_1month "margin_trading_1month"}
                                                 :products {:additional_100k "additional_100k"
                                                            :additional_200k "additional_200k"
                                                            :additional_300k "additional_300k"
                                                            :additional_400k "additional_400k"
                                                            :additional_5_minutes "additional_5_minutes"}}
         :payment.provider/stripe        {:service #ref [:secrets :test :payment.provider/stripe]
                                          :subscriptions {:margin_trading_1month "prod_I1RAoB8UK5GDab"}
                                          :products {:additional_100k "prod_I1RCtpy369Bu4g"
                                                     :additional_200k "prod_I1RC5THYQrZdYO"
                                                     :additional_300k "prod_I1RDVzSR4oZKJ3"
                                                     :additional_400k "prod_I1RDqXXxLnMXdb"
                                                     :additional_5_minutes "prod_I1REIJ0bKeXG37"}}
         :payments/feature-registry {:apple #ref [:payment.provider/apple]
                                     :google #ref [:payment.provider/google]
                                     :stripe #ref [:payment.provider/stripe]}
         :game/games                    {:datomic #ig/ref :persistence/datomic}
         :game/game                     #ref[:game]
         :nrepl/nrepl                   {:port 7001}
         :logging/logging               #ref [:logging]
         :name-generator/name-generator {}}}}
