{
 ;; //
 :objects
 {:Ping
  {:description "Captures a message and a timestamp. This is used when testing Subscriptions."
   :fields
   {:message {:type (non-null String)}
    :timestamp {:type (non-null Int)}}}

  :Game
  {:description "Container for game events."
   :fields
   {:message {:type (non-null String)}}}

  :Tick
  {:fields
   {:message {:type (non-null String)}}}

  :BuyStockAck
  {:fields
   {:message {:type (non-null String)}}}}


 ;; //
 :input-objects
 {:BuyStock
  {:description "An event to buy a stock"
   :fields
   {:tickId {:type (non-null String)}
    :tickTime {:type (non-null Int)}
    :tickPrice {:type (non-null Float)}}}}


 ;; //
 :queries
 {:hello
  {:type String
   :resolve :resolve-hello}

  :login
  {:type String
   :resolve :resolve-login}}


 ;; //
 :mutations
 {:buyStock
  {:type :BuyStockAck
   ;; :args {:input {:type String}}
   :args {:input {:type :BuyStock}}
   :resolve :resolve-buy-stock}}


 ;; //
 :subscriptions
 {:ping
  {:type :Ping
   :description "Sends the provided message a particular number of times, as a subscription."
   :stream :stream-ping
   :args
   {:count {:type Int
            :default 5}
    :message {:type (non-null String)}}}

  :newGame
  {:type :Tick
   :description "Creates a new game and sends updates to the client"
   :stream :stream-new-game
   :args
   {:message {:type (non-null String)}}}}}
