{:firebase {:api-key                   "foobar"
            :firebase-database-url     "https://beatthemarket-foobar.firebaseio.com"
            :service-account-file-name "beatthemarket-foobar.json"
            :admin-user-id             "foobar"}


 :production {:persistence/datomic
              {:db-name "beaththemarket"
               :config  {:server-type        :peer-server
                         :access-key         "foobarkey"
                         :secret             "foobarsecret"
                         :endpoint           "localhost:8998"
                         :validate-hostnames false}}}}
