{:default
 {:schema-init-2020.09.29.02.07.52.081
  [#:db{:ident :user/email,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value,
        :doc "Email of the user"}
   #:db{:ident :user/name,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :doc "Name of the user"}
   #:db{:ident :user/external-uid,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :doc
        "User's ID in the external Authentication system (Firebase)"}
   #:db{:ident :user/payments,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many}
   #:db{:ident :payment.provider/apple}
   #:db{:ident :payment.provider/google}
   #:db{:ident :payment.provider/stripe}
   #:db{:ident :payment.provider.stripe/charge}
   #:db{:ident :payment.provider.stripe/subscription}
   #:db{:ident :payment/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment/product-id,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment/provider-type,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment/provider,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment.applied/game,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment.applied/applied,
        :valueType :db.type/instant,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment.applied/expired,
        :valueType :db.type/instant,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment.apple/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.apple/token,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one}
   #:db{:ident :payment.apple/receipts,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :unique :db.unique/value}
   #:db{:ident :payment.apple.receipt/transactionId,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.apple.receipt/transactionDate,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.apple.receipt/transactionReceipt,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.apple.receipt/productId,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.google/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.google/token,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.google/order-id,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.stripe/id,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :unique :db.unique/value}
   #:db{:ident :payment.stripe/type,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one}
   #:db{:ident :game-level/one}
   #:db{:ident :game-level/two}
   #:db{:ident :game-level/three}
   #:db{:ident :game-level/four}
   #:db{:ident :game-level/five}
   #:db{:ident :game-level/six}
   #:db{:ident :game-level/seven}
   #:db{:ident :game-level/eight}
   #:db{:ident :game-level/nine}
   #:db{:ident :game-level/ten}
   #:db{:ident :game-level/bluesky}
   #:db{:ident :game-level/market}
   #:db{:ident :game-status/created}
   #:db{:ident :game-status/running}
   #:db{:ident :game-status/paused}
   #:db{:ident :game-status/won}
   #:db{:ident :game-status/lost}
   #:db{:ident :game-status/exited}
   #:db{:ident :profit-loss/running}
   #:db{:ident :profit-loss/realized}
   #:db{:ident :game/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game/start-time,
        :valueType :db.type/instant,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game/end-time,
        :valueType :db.type/instant,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game/users,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :game/start-position,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game/status,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :game/level-timer,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :isComponent false,
        :doc ""}
   #:db{:ident :game/level,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :game/stocks,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.user/user,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.user/accounts,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.user/user-client,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :isComponent false,
        :doc ""}
   #:db{:ident :game.user/profit-loss,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.user/portfolio,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.user.profit-loss/amount,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :isComponent false}
   #:db{:ident :game.user.profit-loss/tick,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true}
   #:db{:ident :game.user.profit-loss/stock,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true}
   #:db{:ident :game.user.profit-loss/game,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true}
   #:db{:ident :game.user.profit-loss/type,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent false}
   #:db{:ident :game.stock/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock/name,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock/data-seed,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock/symbol,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock/price-history,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :game.stock.tick/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock.tick/trade-time,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock.tick/close,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock.tick/ask,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :game.stock.tick/bid,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.account.type/asset}
   #:db{:ident :bookkeeping.account.type/liability}
   #:db{:ident :bookkeeping.account.type/revenue}
   #:db{:ident :bookkeeping.account.type/expense}
   #:db{:ident :bookkeeping.account.type/equity}
   #:db{:ident :bookkeeping.account.orientation/debit}
   #:db{:ident :bookkeeping.account.orientation/credit}
   #:db{:ident :bookkeeping.portfolio/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.portfolio/journals,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.journal/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.journal/entries,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.account/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.account/name,
        :valueType :db.type/string,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.account/type,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.account/balance,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc
        "The account's current balance value, which must\n                   i. correspond with all tentries against it and\n                   ii. balance out with all other accounts for the user"}
   #:db{:ident :bookkeeping.account/amount,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc "This records the counter-party unit amount"}
   #:db{:ident :bookkeeping.account/orientation,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.account/counter-party,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.tentry/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.tentry/debits,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.tentry/credits,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/many,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.debit/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.debit/account,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.debit/tick,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.debit/value,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.debit/price,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.debit/amount,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.credit/id,
        :valueType :db.type/uuid,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.credit/account,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.credit/tick,
        :valueType :db.type/ref,
        :cardinality :db.cardinality/one,
        :isComponent true,
        :doc ""}
   #:db{:ident :bookkeeping.credit/value,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.credit/price,
        :valueType :db.type/float,
        :cardinality :db.cardinality/one,
        :doc ""}
   #:db{:ident :bookkeeping.credit/amount,
        :valueType :db.type/long,
        :cardinality :db.cardinality/one,
        :doc ""}]}}
